main{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    width: 100%;
    height: 60vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #EF345F;

    border-radius: 1.5em;

    position: relative;

    width: 60%;
    height: 420px;
}

.container-sobreNos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 85%;
    height: 300px;
}

.ellipse-top{
    position: absolute;

    top: 0px;
    right: 30px;
}

.ellipse-lateral{
    position: absolute;

    right: -30px;
}

.container-sobreNos h1{
    font-size: 24pt;
}

.container-sobreNos h1>span{
    color: black;
}

.container-sobreNos>p{
    font-size: 13pt;

}

.container-Dados{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.sub_container-Dados{
    display: flex;
    justify-content: space-between;

    width: 300px;

}

.sub_container-Dados h5{
    font-weight: 700;

}

.sub_container-Dados p{
    font-weight: 400;

    width: 240px;
}